[user]
	name = Vignesh Iyer
	email = vgnshiyer@asu.edu

[includeIf "gitdir:~/work-repos/"]
    path = ~/work-repos/.gitconfig
[includeIf "gitdir:~/repos/capstone/"]
    path = ~/repos/capstone/.gitconfig
[credentials]
	helper = store
